[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
channels = "*"
channels-redis = "*"
django = "*"
django-celery-email = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-model-utils = "*"
django-storages = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
redis = "*"
sentry-sdk = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
